
body{
  direction:rtl ;
  text-align: right !important;
  font-family: 'sky' !important;
}
.list-group-item {
  text-align: right;

}
.list-group{
  padding-top: 60px;
}
.app {
  margin-top: 100px;
}

.buttons{
  float: left;
  margin-bottom: 30px;
}
.vertical{
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

}
